/* modal ------------------------------------------------------------------------------- */
.modal-background{
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  padding: 20px;
  &::-webkit-scrollbar-track {
    background-color: #cecece;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #22AFA7;
  }
}

.form{
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  .tag{
    align-self: center;
    margin-bottom: 10px;
  }
}

.form-group{
  padding: 10px;
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label{
  color: #144F71;
  width: 100%;
}

.file-label {
  overflow:visible
}

.file.is-success{
  display: flex;
  flex-wrap: wrap;
}

.file-cta{
  background-color: #22AFA7 !important;
  border-radius: 10px !important;
  &:hover{
    background: #0F9D95 !important;
  }
  &:focus{
    background: #0F9D95 !important;
  }
  &:active{
    background: #0F9D95 !important;
  }
}

.input{
  &:focus{
    box-shadow: 0 0 5px #22AFA7;
    border: 1px solid #22AFA7;
  }
  &::placeholder{
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.select{
  width: 100%;
  select{
    width: 100%;
    option{
      width: 100%;
      letter-spacing: 1px;
    }
    &:focus{
      box-shadow: 0 0 5px #22AFA7;
      border: 1px solid #22AFA7;
    }
  }
  &::after{
    border-color: #22AFA7;
  }
}
.submit{
  align-self: center;
  font-weight: 800;
  letter-spacing: 1px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #22AFA7;
}

.control{
  clear: none;
}

.is-clearfix::after{
  clear: none;
}

.control.has-icons-right .icon{
  width: 40px;
  height: 40px;
  svg{
    width: 20px;
  }
}

.modal{
  .row{
    width: 100%;
    display: flex;
    flex-direction: column;
    .col{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 40px;
      img{
        width: 200px;
        padding: 20px;
      }
    }
  }
}

.modal-white{
  .button{
    margin-top: 20px;
  }
}

.modal-red{
  background: #F6446F;
  border-radius: 0 0 20px 20px;
  color: white;
  h1{
    font-weight: 400;
    font-size: 24px;
  }
  p{
    font-weight: 300;
  }
  button{
    margin-top: 10px;
  }
}

#login-card{
  background: white;
  border-radius: 20px;
  .loginTitle{
    width: 100%;
    border-top: 1px solid #144F71;
    border-bottom: 1px solid #144F71;
    color: #22AFA7;
    padding: 8px 0;
    text-align: center;
  }
  .field:nth-child(2) {
    padding-bottom: 20px;
    border-bottom: 1px solid #144F71;
  }
  .button{
    margin-top: 10px;
  }
}

#register-card{
  background: white;
  border-radius: 20px;
  .registerTitle{
    width: 100%;
    color: #22AFA7;
    padding: 0;
    text-align: center;
  }
  .form-group{
    padding: 0px 10px;
    padding-bottom: 10px;
    border-bottom: none;
  }
  .welcome{
    display: none;
  }
  .button.is-success{
    margin-top: 0;
  }
}

.normal-form{
  background: white;
  border-radius: 20px;
  width: 100%;
  .modal-white{
    padding: 5px 20px;
    .button{
      margin-top: 20px;
    }
  }
  .modal-red{
    background: #F6446F;
    border-radius: 20px 20px 0 0;
    color: white;
    text-align: center;
    padding: 15px;
    h1{
      font-weight: 400;
      font-size: 24px;
    }
    p{
      font-weight: 300;
    }
    button{
      margin-top: 10px;
    }
  }
}

p.help{
  color: #C4C4C4;
}

.buttons{
  margin: auto;
}

.upload .upload-draggable {
  &.is-primary:hover{
    background: rgba($color: #22AFA7, $alpha: 0.2);
    border: 1px dashed #22AFA7;
  }
}

.has-text-centered {
  color: #C4C4C4;
}

.taginput .taginput-container.is-focused.is-focusable {
  box-shadow: 0 0 5px #22AFA7;
  border: 1px solid #22AFA7;
  &:active{
    box-shadow: 0 0 5px #22AFA7;
    border: 1px solid #22AFA7;
  }
}

.b-checkbox.checkbox input[type=checkbox]:checked:focus + .check{
  box-shadow: 0 0 5px #22AFA7;
}

.b-checkbox.checkbox input[type=checkbox]:hover + .check{
  border: 2px solid #22AFA7 !important;
}

.b-checkbox.checkbox input[type=checkbox]:checked + .check {
  background-color: #22AFA7;
  border-color: #22AFA7;
}

.textarea{
  &:focus{
    box-shadow: 0 0 5px #22AFA7;
    border: 1px solid #22AFA7;
  }
  &::placeholder{
    letter-spacing: 1px;
    font-weight: bold;
  }
}

.b-radio.radio input[type=radio]:checked:focus + .check{
  box-shadow: 0 0 5px #22AFA7;
}

.b-radio.radio input[type=radio]:hover + .check{
  border-color: #22AFA7 !important;
}

.b-radio.radio input[type=radio]:checked + .check {
  border-color: #22AFA7;
  &::before{
    background: #22AFA7;
  }
}

.tag:not(body).is-primary{
  background-color: #22AFA7;
}

@include md{
  #login-card{
    .row{
      flex-direction: row;
      .col{
        padding: 60px 40px;
        .form-group{
          padding-top: 28px;
        }
        &.modal-white{
          width: 60%;
        }
        &.modal-red{
          width: 40%;
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }

  #register-card{
    .row{
      flex-direction: row-reverse;
      .col{
        padding: 60px 40px;
        .form-group{
          padding-top: 28px;
        }
        &.modal-white{
          width: 60%;
        }
        &.modal-red{
          width: 40%;
          border-radius: 20px 0 0 20px;
          padding: 10px;
          .welcome{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              width: 100%;
            }
          }
          p{
            margin-top: 200px;
          }
        }
      }
    }
  }
}